.bug-wrap {
  margin: 10px 0px;
  display: none;
  .bug {
    flex-grow: 0;
    cursor: pointer;
  }
  .bug-infos {
    flex-grow: 2;
    margin-left: 1em;
    .name {
      font-size:1.5em;
      line-height: 0em;
      margin: 1em 0em 0em 0em;
    }
    .count {
      margin: 1 em 0em 0em 0em;
    }
  }
  .progress {
    margin: 0;
    width: 100%;
  }
}
/*
#bohrbug {
  .ascii:hover {
    &::after {
      content: "BOHRBUG";
    }
  }
}
#heisenbug {
  .ascii:hover {
    &::after {
      content: "HEISENBUG";
    }
  }
}
#mandelbug {
  .ascii:hover {
    &::after {
      content: "MANDELBUG";
    }
  }
}
#schroedinbug {
  .ascii:hover {
    &::after {
      content: "SCHROEDINBUG";
    }
  }
}
*/