@import "variables";
.nav-wrap {
  width: 70%;
  margin: 0 auto;
  #navigation {
    text-align: center;
    .nav-elem {
      max-width: 105px; 
      min-width: 105px;
      width: 105px;
      &:hover {
        background-color: rgba(0,0,0,0.5);
      }
      &.nav_active {
        text-decoration: underline;
      }
    }
    .ascii {
      margin: 0;
      flex-basis: 4%;
      margin-top: 4px;
      margin-bottom: -4px;
      &:first-child, &:last-child {
        flex-basis: 100%;
        margin: 0;
      }
    }

  }
}
section {
  padding: 2em 1em;
  display: none;
  &.active {
    display: flex;
  }
}

#click-panel {
}

.clickGroup {
  position: relative;
}

#screenElementPC {
  .left, .right {
    flex-basis: 4%;
  }
  .content {
    flex-basis: 90%;
  }
}

#company-panel {
  position: fixed;
  right: 0;
  top: 100px;
  padding: 4em 2em 2em 4em;
  min-width: 300px;
  max-width: 500px;
  background-color: rgba(245, 245, 245, 0.9);
  transition: right 300ms, padding-left 300ms;

  &.open {
    padding-left: 2em;
    .toggle-panel {
      left: 2em;
    }
  }

  .toggle-panel {
    position: absolute;
    left: 1em;
    top: 1.5em;
    transition: left 300ms;
  }

  #company-name {
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: $font;
    text-decoration: underline;
    background-color: rgba(245, 245, 245, 0.9);
  }

  #user_level {
    margin-left: -4px;
  }

  #money-counter {
    font-size: 1.2em;
    font-family: $font;
  }
}
