@font-face {
  font-family: "freemono";
  src: url("../fonts/FreeMono.ttf"), url("../fonts/FreeMono.otf"); }
button:hover, .nav-elem {
  cursor: pointer; }

button:focus {
  outline: none; }
button::-moz-focus-inner {
  border: 0; }

.flex, .active {
  display: flex !important; }
  .flex.justify-start, .active.justify-start {
    justify-content: flex-start; }
  .flex.justify-center, .active.justify-center {
    justify-content: center; }
  .flex.justify-end, .active.justify-end {
    justify-content: flex-end; }
  .flex.justify-around, .active.justify-around {
    justify-content: space-around; }
  .flex.justify-between, .active.justify-between {
    justify-content: space-between; }
  .flex.align-top, .active.align-top {
    align-items: top; }
  .flex.align-center, .active.align-center {
    align-items: center; }
  .flex.align-bottom, .active.align-bottom {
    align-items: bottom; }
  .flex.wrap, .active.wrap {
    flex-wrap: wrap; }
  .flex.no-wrap, .active.no-wrap {
    flex-wrap: nowrap; }
  .flex.half > div, .active.half > div {
    flex-basis: 50%; }
  .flex.full > div, .active.full > div {
    flex-basis: 100%; }
  .flex .half, .active .half {
    flex-basis: 50%; }
  .flex .full, .active .full {
    flex-basis: 100%; }

.t-align-left {
  text-align: left; }

.t-align-center {
  text-align: center; }

.t-align-right {
  text-align: right; }

.ascii, pre {
  white-space: pre;
  font-family: "freemono";
  cursor: default;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }

.ascii-trigger {
  cursor: pointer; }

.bug-wrap {
  margin: 10px 0px;
  display: none; }
  .bug-wrap .bug {
    flex-grow: 0;
    cursor: pointer; }
  .bug-wrap .bug-infos {
    flex-grow: 2;
    margin-left: 1em; }
    .bug-wrap .bug-infos .name {
      font-size: 1.5em;
      line-height: 0em;
      margin: 1em 0em 0em 0em; }
    .bug-wrap .bug-infos .count {
      margin: 1 em 0em 0em 0em; }
  .bug-wrap .progress {
    margin: 0;
    width: 100%; }

/*
#bohrbug {
  .ascii:hover {
    &::after {
      content: "BOHRBUG";
    }
  }
}
#heisenbug {
  .ascii:hover {
    &::after {
      content: "HEISENBUG";
    }
  }
}
#mandelbug {
  .ascii:hover {
    &::after {
      content: "MANDELBUG";
    }
  }
}
#schroedinbug {
  .ascii:hover {
    &::after {
      content: "SCHROEDINBUG";
    }
  }
}
*/
.nav-wrap {
  width: 70%;
  margin: 0 auto; }
  .nav-wrap #navigation {
    text-align: center; }
    .nav-wrap #navigation .nav-elem {
      max-width: 105px;
      min-width: 105px;
      width: 105px; }
      .nav-wrap #navigation .nav-elem:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      .nav-wrap #navigation .nav-elem.nav_active {
        text-decoration: underline; }
    .nav-wrap #navigation .ascii {
      margin: 0;
      flex-basis: 4%;
      margin-top: 4px;
      margin-bottom: -4px; }
      .nav-wrap #navigation .ascii:first-child, .nav-wrap #navigation .ascii:last-child {
        flex-basis: 100%;
        margin: 0; }

section {
  padding: 2em 1em;
  display: none; }
  section.active {
    display: flex; }

.clickGroup {
  position: relative; }

#screenElementPC .left, #screenElementPC .right {
  flex-basis: 4%; }
#screenElementPC .content {
  flex-basis: 90%; }

.progressBar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: green;
  background-image: linear-gradient(90deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%); }

.progress-pie-chart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative; }
  .progress-pie-chart.gt-50 {
    background-color: #81CE97; }

.ppc-progress {
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  clip: rect(0, 50px, 50px, 25px); }
  .ppc-progress .ppc-progress-fill {
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    clip: rect(0, 25px, 50px, 0);
    background: #81CE97;
    transform: rotate(0deg); }
  .gt-50 .ppc-progress {
    clip: rect(0, 25px, 50px, 0); }
    .gt-50 .ppc-progress .ppc-progress-fill {
      clip: rect(0, 50px, 50px, 25px);
      background: #E5E5E5; }

.ppc-percents {
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 43.47826px/2);
  top: calc(50% - 43.47826px/2);
  width: 43.47826px;
  height: 43.47826px;
  background: #fff;
  text-align: center;
  border: none; }
  .ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97; }

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle; }

#screen-home #click-panel {
  width: 350px; }
#screen-home #workplace-panel {
  flex-grow: 2; }
#screen-home #company-panel {
  width: 350px; }

#screen-internet .webpage {
  width: 100%;
  display: none; }
  #screen-internet .webpage.active {
    display: block; }
  #screen-internet .webpage .wp-content .worker-wrap {
    max-width: 49%; }

#screen-city .city-loc {
  width: 100%;
  display: none; }
  #screen-city .city-loc.active {
    display: block; }

/*# sourceMappingURL=styles.css.map */
