@font-face {
  font-family: "freemono";
  src: url("../fonts/FreeMono.ttf"), url("../fonts/FreeMono.otf"); }
button:hover, .nav-elem {
  cursor: pointer; }

button:focus {
  outline: none; }
button::-moz-focus-inner {
  border: 0; }
button.ascii {
  font-size: 1em;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1em;
  background: none; }

.flex, .active {
  display: flex !important; }
  .flex.justify-start, .active.justify-start {
    justify-content: flex-start; }
  .flex.justify-center, .active.justify-center {
    justify-content: center; }
  .flex.justify-end, .active.justify-end {
    justify-content: flex-end; }
  .flex.justify-around, .active.justify-around {
    justify-content: space-around; }
  .flex.justify-between, .active.justify-between {
    justify-content: space-between; }
  .flex.justify-evenly, .active.justify-evenly {
    justify-content: space-evenly; }
  .flex.align-top, .active.align-top {
    align-items: top; }
  .flex.align-center, .active.align-center {
    align-items: center; }
  .flex.align-bottom, .active.align-bottom {
    align-items: bottom; }
  .flex.wrap, .active.wrap {
    flex-wrap: wrap; }
  .flex.no-wrap, .active.no-wrap {
    flex-wrap: nowrap; }
  .flex.half > div, .active.half > div {
    flex-basis: 50%; }
  .flex.full > div, .active.full > div {
    flex-basis: 100%; }
  .flex .half, .active .half {
    flex-basis: 50%; }
  .flex .full, .active .full {
    flex-basis: 100%; }

.t-align-left {
  text-align: left; }

.t-align-center {
  text-align: center; }

.t-align-right {
  text-align: right; }

.ascii, pre {
  white-space: pre;
  font-family: "freemono";
  cursor: default;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }

.ascii-trigger {
  cursor: pointer; }

.bug-wrap {
  margin: 10px 0px;
  display: none; }
  .bug-wrap .bug {
    flex-grow: 0;
    cursor: pointer; }
  .bug-wrap .bug-infos {
    flex-grow: 2;
    margin-left: 1em; }
    .bug-wrap .bug-infos .name {
      font-size: 1.5em;
      line-height: 0em;
      margin: 1em 0em 0em 0em; }
    .bug-wrap .bug-infos .count {
      margin: 1 em 0em 0em 0em; }
  .bug-wrap .progress {
    margin: 0;
    width: 100%; }

/*
#bohrbug {
  .ascii:hover {
    &::after {
      content: "BOHRBUG";
    }
  }
}
#heisenbug {
  .ascii:hover {
    &::after {
      content: "HEISENBUG";
    }
  }
}
#mandelbug {
  .ascii:hover {
    &::after {
      content: "MANDELBUG";
    }
  }
}
#schroedinbug {
  .ascii:hover {
    &::after {
      content: "SCHROEDINBUG";
    }
  }
}
*/
.nav-wrap {
  width: 70%;
  margin: 0 auto; }
  .nav-wrap #navigation {
    text-align: center; }
    .nav-wrap #navigation .nav-elem {
      max-width: 105px;
      min-width: 105px;
      width: 105px; }
      .nav-wrap #navigation .nav-elem:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      .nav-wrap #navigation .nav-elem.nav_active {
        text-decoration: underline; }
    .nav-wrap #navigation .ascii {
      margin: 0;
      flex-basis: 4%;
      margin-top: 4px;
      margin-bottom: -4px; }
      .nav-wrap #navigation .ascii:first-child, .nav-wrap #navigation .ascii:last-child {
        flex-basis: 100%;
        margin: 0; }

section {
  padding: 2em 1em;
  display: none; }
  section.active {
    display: flex; }

.clickGroup {
  position: relative; }

#screenElementPC .left, #screenElementPC .right {
  flex-basis: 4%; }
#screenElementPC .content {
  flex-basis: 90%; }

#company-panel {
  position: fixed;
  right: 0;
  top: 100px;
  padding: 4em 2em 2em 4em;
  min-width: 300px;
  max-width: 500px;
  background-color: rgba(245, 245, 245, 0.9);
  transition: right 300ms, padding-left 300ms; }
  #company-panel.open {
    padding-left: 2em; }
    #company-panel.open .toggle-panel {
      left: 2em; }
  #company-panel .toggle-panel {
    position: absolute;
    left: 1em;
    top: 1.5em;
    transition: left 300ms; }
  #company-panel #company-name {
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "freemono";
    text-decoration: underline;
    background-color: rgba(245, 245, 245, 0.9); }
  #company-panel #user_level {
    margin-left: -4px; }
  #company-panel #money-counter {
    font-size: 1.2em;
    font-family: "freemono"; }

#screen-home #click-panel {
  width: 350px; }
#screen-home #workplace-panel {
  flex-grow: 2; }
#screen-home #company-panel {
  width: 350px; }

#screen-internet {
  flex-direction: column;
  align-items: center; }
  #screen-internet .webpage-navigation {
    width: 1240px; }
    #screen-internet .webpage-navigation input.navbar {
      width: 816px;
      border: none;
      font-family: "freemono";
      font-size: 1em; }
  #screen-internet .outline {
    margin-left: -2px; }
    #screen-internet .outline .webpage {
      display: none;
      width: 100%;
      width: calc(1240px - 3.3em);
      max-width: calc(1240px - 3.3em);
      max-height: 724px;
      padding: 1em;
      overflow: auto;
      white-space: normal;
      user-select: text;
      -webkit-user-select: text;
      -moz-user-select: text;
      -khtml-user-select: text;
      -ms-user-select: text; }
      #screen-internet .outline .webpage.active {
        display: block; }
      #screen-internet .outline .webpage .wp-headline {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin: 0.5em; }
      #screen-internet .outline .webpage .intro {
        font-size: 1.25em; }
      #screen-internet .outline .webpage .wp-content {
        width: 100%; }
        #screen-internet .outline .webpage .wp-content .worker-wrap {
          margin: 2em 0em; }
  #screen-internet .underline {
    margin-left: -2px; }
  #screen-internet #wp-workers .worker-wrap .wrap-stats {
    padding: 1.1em 1em; }
    #screen-internet #wp-workers .worker-wrap .wrap-stats .emp-stats p {
      white-space: pre;
      margin: 0; }
    #screen-internet #wp-workers .worker-wrap .wrap-stats .emp-buy {
      margin-top: 2em; }

#screen-city .city-loc {
  width: 100%;
  display: none; }
  #screen-city .city-loc.active {
    display: block; }

/*# sourceMappingURL=styles.css.map */
